.container {
  overflow-y: scroll;
  padding-top: 10px;
}

.box_club {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image_club {
  background-color: rgb(181, 181, 186);
  width: 30%;
  border: 2px solid black;
  text-align: center;
  margin-bottom: 10px;
}

.box_club .image_club img {
  width: 99%;
  height: 70%;
  border: 1px solid black;
}


.box_club .image_club img:hover {
  height: 10%;
}
