/*--Option relative à la taille des sections--*/
html, body {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

/* ------------------------------------------------------------------------- */
/* ---------------------------Répartition de la page-------------------------*/
/* ------------------------------------------------------------------------- */

header { height: 15%}
nav    { height:  5%}
.container { height: 72%}
footer { height: 8%}

/* ------------------------------------------------------------------------- */
/*------------------------- Style des sections ------------------------------*/
/* ------------------------------------------------------------------------- */

/*-------------Options relatives au header ----------------------------------*/
header {
  margin: 0px 0 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 100%;
}

header #widget_meteo {
  border: 0px solid blue;
  height: 100%;
  margin-right: 18%;
}

/*-------------Options relatives au nav menu --------------------------------*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  border: 0px solid black;
  text-align: center;
  margin: auto;
}

/*-------------Options relatives au footer ----------------------------------*/
footer {
  text-align: right;
}
footer img {
  height: 100%;
  float: left;
  margin: 0 5px 0 5px;
}

/* ------------------------------------------------------------------------- */
/* ----------------------------Style des Pages -------------------------------*/
/* ------------------------------------------------------------------------- */

body {
  font-family: coronet;
  font-size: 3vh;
  color: black;
}

#pageMainTitle {
  border: 0px solid black;
  font-family: trebuchet;
  font-size: 13vh;
  color: rgb(37, 99, 235);
  filter: drop-shadow(4px 4px 2px rgb(55, 65, 81));
}

#pageTitle {
  font-family: trebuchet;
  font-size : 3vh;
  color: black;

  background-color : rgb(181, 181, 186);
  padding: 0 0 0 0px;
}

#barStyle {
  background-color: rgb(181, 181, 186);
  /* Variation de couleur ?*/
}

.main_box {
  background-color: rgb(51, 102, 204);
}

header, nav, footer {
  border: 2px solid black;
}
