/*
  Ce document à pour but de modifier toutes les pages du site web.
  Dans l'ordre on peut modifier le contenu des widget (font, color, )
  puis on peut modifier sa position (padding)
-/


/* ------------------------------------------------------------------------- */
/*------------------------- Style des sections ------------------------------*/
/* ------------------------------------------------------------------------- */

/*--Option relative à la taille des sections--*/
html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

header { height: 15%}
nav    { height:  5%}
.container { height: 72%}
footer { height: 8%}


/*-------------Options relatives au header ----------------------------------*/
header {
  margin: 0px 0 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 100%;
}

header #widget_meteo {
  border: 0px solid blue;
  height: 100%;
  margin-right: 18%;
}

/*-------------Options relatives au nav menu --------------------------------*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  border: 0px solid black;
  text-align: center;
  margin: auto;
}

/*-------------Options relatives au footer ----------------------------------*/
footer {
  text-align: right;
}
footer img {
  height: 100%;
  float: left;
  margin: 0 5px 0 5px;
}


/*-------------Options relatives au conteneur principal ---------------------*/
.container {
  padding: 10px;
}

.diapo_conteneur p {
  text-align: center;
  border: 0px solid red;
  color:white;
  text-shadow: 0 1px 0 black;
  margin: 1px;
}

.diapo_conteneur {
  float: left;
  width: 70%;
  border: 2px solid black;
}

.diapo_dynamique {
  height: 100%;
  background-color: #EDEDED;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fondu 20s ease-in-out infinite both;
}

@keyframes fondu {
  0%{background-image: url("MEDIA/P_garde_1.jpg");}
  50%{background-image: url("MEDIA/P_garde_2.jpg");}
  100%{background-image: url("MEDIA/P_garde_3.jpg");}
}

#fil_actu {
  border: 2px solid black;
  height: 100%;
  width: 25%;
  background-color: white;

  float:right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fil_actu .event {
  border: 1px solid black;
  text-align: center;
  width: 100%;
  margin: 10px;
}

/* ------------------------------------------------------------------------- */
/* ----------------------------Style des Pages -------------------------------*/
/* ------------------------------------------------------------------------- */
body {
  font-family: coronet;
  font-size: 3vh;
  color: black;
}

#pageMainTitle {
  border: 0px solid black;
  font-family: trebuchet;
  font-size: 13vh;
  color: rgb(37, 99, 235);
  filter: drop-shadow(4px 4px 2px rgb(55, 65, 81));
}

#pageTitle {
  font-family: trebuchet;
  font-size : 3vh;
  color: black;

  background-color : rgb(181, 181, 186);
  padding: 0 0 0 0px;
}

#barStyle {
  background-color: rgb(181, 181, 186);
  /* Variation de couleur ?*/
}

header, nav, footer, #article, #fil_actu {
  border: 2px solid black;
}

.main_box {
  background-color: rgb(51, 102, 204);
}
