/*
  Ce document à pour but de modifier toutes les pages du site web.
  Dans l'ordre on peut modifier le contenu des widget (font, color, )
  puis on peut modifier sa position (padding)
-/


/* ------------------------------------------------------------------------- */
/*------------------------- Style des sections ------------------------------*/
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */

#header {
  height: 10%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header img {
  width: 100px;
  padding: 0px;
}

#header a {
  width: 100px;
}

/* ------------------------------------------------------------------------- */

#nav {
  background-color: rgb(60, 60, 60);

  height : 20%;
  padding: 0em;
  display: flex;
  justify-content: space-around;
}

#nav a {
  text-align: center;
  text-decoration: none;

  display: block;
  padding: 0px 0px;
}

/* ------------------------------------------------------------------------- */

#article {
  border: 1px solid black;
  background-image: url("MEDIA/P_garde_1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  padding: 0px;
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%
}

#article d1 {
  background-color: 000;
  background-size: contain;

  box-shadow: 0px 15px 10px -5px;
  width: auto;
  height: auto;
  margin: auto;
}

#article d2 {
  background-color: 000;
  background-image: url("MEDIA/P_garde_4.jpg");
  background-size: contain;

  box-shadow: 0px 0px 10px;
  width: 100%;
  height: 0px;
  padding-top: 0px;
  margin: 0px;
}

#article conteneur {
  max-width: auto;
  margin: auto;
}

#article p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ------------------------------------------------------------------------- */

#footer {
  border: 1px solid black;
  background-color: #333;

  position: fixed;
  padding: 0px;
}

/* ------------------------------------------------------------------------- */
/* ----------------------------Style du texte -------------------------------*/
/* ------------------------------------------------------------------------- */


#pageTitle1 {
  font-family: trebuchet;
  font-size: 100px;
  color: rgb(37, 99, 235);
  filter: drop-shadow(4px 4px 2px rgb(55, 65, 81));
}

#pageTitle {
  font-family: trebuchet;
  font-size : 25px;
  color: black;

  background-color : rgb(96, 165, 250);
  padding: 0.5em;
}

#pageText {
  font-family: coronet;
  color: black;

  text-align: center;
}
